.recipientsInfo {
  .recipients {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    padding: 40px 0;
    .sessionName {
      width: 100%;
      color: #595757;
      font-family: SourceSansPro-Regular, Helvetica Neue, Arial, sans-serif;
      font-size: 24px;
      font-weight: 400;
      line-height: 31px;
      margin-bottom: 20px;
    }
  }
}
.account{
  width: 500px;
  height: 300px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px 1px;
  padding: 20px 20px 20px 40px;
  box-sizing: border-box;
  flex-shrink: 0;
  &:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 1px 2px 7px 1px;
  }
  .accountTitle{
    font-family: Roboto, "Heiti SC", "Microsoft Yahei", simsun, sans-serif;
    font-size: 18px;
    line-height: 40px;
    font-weight: 400;
    display: flex;
    align-items: center;
    color:#333333;
    &::before {
      content: '\2002';
      display: inline-block;
      width: 5px;
      height: 20px;
      background: #295ea4;
      margin-right: 20px;
    }
  }
  .accountInfo{
    font-family: Roboto, "Heiti SC", "Microsoft Yahei", simsun, sans-serif;
    font-size: 16px;
    line-height: 40px;
    margin-bottom: 20px;
    text-indent: 40px;
    span{
      font-size: 24px;
    }
  }
  .operate{
    margin-top: 16px;
    background: rgb(41, 94, 164);
    color: white;
    padding: 7px 20px;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    font-family: Roboto, "Heiti SC", "Microsoft Yahei", simsun, sans-serif;
    float: right;
    cursor: pointer;
    margin-left: 16px;
    &:hover{
      background: rgb(48, 120, 200);
    }
  }
  input {
    height: 40px;
    width: 400px;
    padding: 0 8px;
    color: #333333;
    font-size: 18px;
    border-radius:4px;
    border: 1px solid #DBDBDB;
    margin: 8px 0;
  }
  input:focus {
    box-shadow:none !important;
    outline: none !important;
    border: 1px solid rgb(41, 94, 164);
  }
}
.tableWraper{
  width: 100%;
  background: transparent;
  padding: 20px 0;
  overflow: hidden;
  .tableContent{
    width:1200px;
    overflow: hidden;
    margin: auto;
    .sessionName{
      float: left;
      color: #333333;
      font-family: SourceSansPro-Regular,Helvetica Neue,Arial,sans-serif;
      font-size: 24px;
      font-weight: 400;
      line-height: 31px;
      margin-bottom: 10px;
    }
    .refresh{
      background: rgb(41, 94, 164);
      font-family:Roboto, "Heiti SC", "Microsoft Yahei", simsun, sans-serif;
      font-size:14px;
      font-weight:500;
      padding: 7px 20px;
      border-radius: 4px;
      text-align: center;
      color: white;
      float: right;
      margin-bottom: 10px;
      cursor: pointer;
      clear: both;
      &:hover{
        background: rgb(48, 120, 200);
        box-shadow:none !important;
        outline: none !important;
      }
    }
    .tableList{
      clear: both;
      background: white;
      table{
        width: 100%;
        border-collapse: collapse;
        thead tr{
          th{
            box-sizing:border-box;
            color:white;
            font-family:SourceSansPro-Regular, "Helvetica Neue", Arial, sans-serif;
            font-size:16px;
            padding: 12px;
            background: rgb(54, 122, 189);
          }
        }
        tbody tr{
          cursor: pointer;
          td{
            border-top: 1px solid #dee2e6;
            line-height: 20px;
            font-family:SourceSansPro-Regular, "Helvetica Neue", Arial, sans-serif;
            font-size:14px;
            font-weight:400;
            padding: 12px;
            color: #666666;
          }
          &:hover{
            background: rgba(0,0,0,.075);
          }
        }
        tbody .green{
          td:nth-last-child(1){
            color: green;
          }
        }
        tbody .red{
          td:nth-last-child(1){
            color: red;
          }
        }
      }
    }
  }
  .more {
    display: block;
    width:1200px;
    height: 30px;
    overflow: hidden;
    margin: auto;
    line-height: 20px;
    text-align: right;
    color: #295ea4;
    cursor: pointer;
  }
  a {
    text-decoration: none;
    color: #295ea4;
  }
}
.green{
  color: green !important;
}
.red{
  color: red !important;

}
